<div class="activate-scientific-button">

</div>
<div class="calculator-main">
    <app-screen [expression]="expression" (appendS)="appendString($event)" (delOperation)="del()"></app-screen>
    <app-scientific-control (toggle)="toggleParent($event)"></app-scientific-control>

    <app-buttons [checked]="checked" (appendS)="appendString($event)" (clear)="clearString()" (eval)="evaluateExp()"
        (openDialogComponent)="openDialog()" (setScientificOp)="setScientificOperator($event)"
        (delOperation)="del()"></app-buttons>
</div>