<h1 mat-dialog-title>{{(data.operator != 'pi')?"Hi User":"It is π"}}</h1>
<div mat-dialog-content>
    <p *ngIf="data.operator != 'pi'">{{data.operator}}</p>
    <mat-form-field appearance="fill" *ngIf="data.operator != 'pi'">
        <mat-label>Value of 'x'</mat-label>
        <input type="number" matInput #input value="{{value.value}}" (keyup)="onValueChange(input.value)">

    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="data.operator == 'nth root of x'">
        <mat-label >Value of 'n'</mat-label>
        <input type="number" matInput #input2 value="{{value.value2}}"
            (keyup)="onValueChange2(input2.value)">

    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial mat-dialog-close
        mat-dialog-close="{{[value.value,value.operator,value.value2]}}">Ok</button>
</div>