<div class="buttons-container">
    <div class="scientific-container" *ngIf="checked">

        <div class="scientific-part">
            <button class="number" *ngFor="let item of scientificButtons" mat-raised-button color="primary"
                (click)="setScientificOperator(item.value);openDialog();"
                aria-label="Example icon button with a menu icon">
                <span>{{item.value}}</span>
            </button>
        </div>
    </div>
    <div>
        <div class="normal-part">


            <div class="numbers">

                <button class="number" *ngFor="let item of numbers;let indexOfElement = index"
                    (click)="indexOfElement==11?c():append(item.value)" id="number-{{indexOfElement}}" mat-mini-fab
                    color="primary" aria-label="Example icon button with a menu icon">
                    <span>{{item.value}}</span>
                </button>
            </div>
            <div class="operations">
                <button class="number2" *ngFor="let item of operations" mat-raised-button color="primary"
                    (click)="append(item.value)" aria-label="Example icon button with a menu icon">
                    <span>{{item.operation}}</span>
                </button>
            </div>

        </div>
        <div class="brackets-and-result">
            <div *ngFor="let item of bracketsAndEqual;let indexOfelement=index;">
                <button class="number2 " id="brackets-and-result-{{indexOfelement}}" mat-fab color="primary"
                    aria-label="Example icon button with a menu icon"
                    (click)="indexOfelement==3?result():append(item.value)">
                    <span>{{item.value}}</span>
                </button>
            </div>
        </div>
    </div>
</div>