.buttons-container{
    padding: 1rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.normal-part{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.number{
    margin-top: 1rem;
}
.number2{
    margin-top: 1.23rem;
}
#number-11{
    background-color: crimson;
}
.operations{
    display: flex;
    flex-direction: column;
}
.operations button{
    background-color: rgb(0, 102, 255);
    border-radius: 1.25rem;
    font-size: 1.2rem;
}
.brackets-and-result{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
   border: 1px solid rgb(229, 229, 229);
   align-items: center;
   justify-content: center;
   padding: .625rem 0;
   margin-top: 1rem;
   border-radius: 1.875rem;
   box-shadow: 2px 2px 4px rgb(203, 203, 203) inset;
}
.brackets-and-result div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.brackets-and-result div button{
    margin-top: 0;
    background-color: rgb(43, 116, 226);
}
.scientific-part{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    min-height: 12.5rem;
}
.scientific-part button{
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius: 1.25rem;
}
.scientific-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}
.number-container{
    width: 100%;
}
.normal-part-container{
    /* display: flex; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#brackets-and-result-3{
    background-color: navy;
    font-size: 1.25rem;
}
@media screen and (max-width: 660px) {
    .scientific-container{
        padding-right: 0;
    }
    .normal-part-container{
        width: 100%;
    }
}